@media screen and ( max-width: 1300px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .card__title
    font-size: 1.05rem

@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .design
    background-color: $dark
    &__section-title
      color: $light
    &__card
      margin-bottom: 5.7rem
  .section
    &_mobile
      background-color: $dark-mobile
    &-title__heading
      color: $light
    &-title__heading_types
      color: $black
    &-title__text
      color: $light
    &-title__text_center
      color: $light
    &-title__word::after
      display: none
    &_dark
      background-color: $dark-mobile
  .swiper-slide
    margin-top: 2.857rem
  .control__text
    color: $light
  .control__form
    flex-direction: column
    width: 90%
  .control_input
    color: $light
  .control__policy-label
    justify-content: left
    color: $light
  .control__label
    color: $half-white
  .input-grey
    border-bottom: 1px solid $light  
    color: $light
  .input-grey::placeholder
    color: #fff
  .control__input
    margin-bottom: 4.5rem
  .control__button 
    order: 1
  .control__policy
    margin-top: -4rem
    margin-bottom: 4.429rem


  
          

@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      text-decoration: none
      color: $light
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content  
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem        
      margin-bottom: 1.85rem
  .footer
    &__form
      flex-direction: column
    &__button
      width: 100%
    background: $dark-mobile
  .footer__wrap
    background-color: $dark-mobile

  .policy__label_center
    justify-content: left
  .address-contacts
    width: 100%
    min-width: unset
  #policycheckbox2-error
    left: 0 

@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
