*, *:before, *:after
  box-sizing: border-box

html
  font-size: 14px

body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem

img
  max-width: 100%

.section
  padding: 60px 0
  &-title
    text-align: center
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
    &__heading
      font-family: 'Yeseva One', cursive
      text-transform: uppercase
      font-weight: normal
    &__text
      width: 77%
      margin: 25px auto 39px
      font-family: 'Futura Book'
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 27px
      text-align: center
      color: $grey